@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model hotsAPI.Models.GameNews
<style>
    select {
        border: 1px solid #ccc;
        border-radius: 3px;
        color: #808080;
        font-size: 13px;
        line-height: 18px;
        padding: 4px;
        margin: 5px 0 6px 0;
    }
fieldset .title,fieldset .title1
{
    display:inline-block;
    width:100px;
    font-size:15px;
    color: #808080;
    font-weight:normal;
}
fieldset .title1
{
    font-size:13px;
    width:auto;
}
fieldset .short
{
    width:100px;
}
fieldset .shortKeyword
{
    width:90px;
}
fieldset #addKeyWord
{
    margin-left:10px;   
    border-radius: 3px;
    color: #808080;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 4px;
}
input[type="button"]:hover
{
    box-shadow:0 1px 3px rgba(0,0,0,0.1) inset,0 0 8px rgba(82,168,236,0.6);
    outline:0 none;
}
    #KeyBack {
        margin-left: 100px;
        height: 50px;
        padding: 5px;
        width:300px;
    }
        #KeyBack span {
            border-radius: 3px;
            border: 1px solid #ccc;
            cursor: pointer;
            padding: 3px;
            color: #808080;
            display: inline-block;
            font-size: 13px;
            line-height: 18px;
            padding: 4px;
        }
        #KeyBack span:hover {
            box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset,0 0 8px rgba(82,168,236,0.6);
            outline: 0 none;
        }
    #KeyWordslb span {
        border-radius: 3px;
        border: 1px solid #ccc;
        cursor: pointer;
        margin-right: 10px;
        padding: 3px;
    }
#KeyWordslb span:hover
{
    box-shadow:0 1px 3px rgba(0,0,0,0.1) inset,0 0 8px rgba(82,168,236,0.6);
    outline:0 none;
    font-size: 1.2em;
}
</style>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
             <hgroup class="title">
                <h1>添加新记录</h1>                    
            </hgroup>  
               
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @using (Html.BeginForm())
        {
            <fieldset>
            <legend>createNews</legend>
            @Html.LabelFor(news => news.From, new { @class = "title" })  
            @{ if (ViewData["From"] == null)
                   {   @Html.DropDownList("From", ViewData["FromList"] as SelectList, "请选择", new {@class = "short" }); }
               else
                   {
                       @Html.DropDownList("From", ViewData["FromList"] as SelectList, new { @class = "short" });
                   }
            }
            @Html.ValidationMessageFor(news => news.From)
            <br />
            @*@Html.LabelFor(news => news.Type, new { @class = "title" })  
            @Html.DropDownList("Type", ViewData["TypeList"] as SelectList, "请选择", new { @class = "short" })
            @Html.ValidationMessageFor(news => news.Type)*@
                @Html.LabelFor(news => news.KeyWord, new { @class = "title" })
                @Html.TextBox("KeyWord", "", new { @class = "shortKeyword", @id = "txKeyWord" })
                @Html.ValidationMessageFor(news => news.KeyWord)
                <input id="addKeyWord" type="button" value="添加" />
                @Html.Label(" ", new { @class = "title1", @id = "KeyWordslb", @name = "KeyWordslb" })
                @Html.Hidden("KeyWords")
            <br />
                <div id="KeyBack">
                <span id="keyb1" onclick="aadb(1)">蓝贴发布</span>
                <span id="keyb2" onclick="aadb(2)">前瞻资讯</span>
                <span id="keyb3" onclick="aadb(3)">新闻活动</span>
                <span id="keyb4" onclick="aadb(4)">回顾统计</span>
                </div>
            @Html.LabelFor(news => news.Title, new { @class = "title" })  
            @Html.TextBox("Title")
            @Html.ValidationMessageFor(news => news.Title)
            <br />
            @Html.LabelFor(news => news.WebSite1, new { @class = "title" })  
            @Html.TextBox("WebSite1")
            @Html.ValidationMessageFor(news => news.WebSite1)
            <br />
            @Html.LabelFor(news => news.Link1, new { @class = "title" })  
            @Html.TextBox("Link1")
            @Html.ValidationMessageFor(news => news.Link1)
            <br />
            @Html.LabelFor(news => news.WebSite2, new { @class = "title" })  
            @Html.TextBox("WebSite2")
            @Html.Label("相关网站名，非必填",new { @class = "title1" })
            <br />
            @Html.LabelFor(news => news.Link2, new { @class = "title" })  
            @Html.TextBox("Link2")
            @Html.Label("相关网站链接，非必填", new { @class = "title1" })
            <br />
            @Html.LabelFor(news => news.IssueDate, new { @class = "title" })  
            @Html.TextBox("IssueDate", "", new { @readonly = "true" })
            @Html.ValidationMessageFor(news => news.IssueDate)
            <br />
           
            </fieldset>
            <input type="submit" value="提交" />
        }
    </section>
</div>
<script type="text/javascript">
    var keyNo = 0;
   
    $("#addKeyWord").click(function () {
        var keyword = $("#txKeyWord").val();
        if ((keyword.length > 5) || (keyword.length == 0)) {
            return;
        }
        var keywords=""
        $("#KeyWordslb").append("<span id='key" + keyNo + "' onclick='add(" + keyNo + ")'>" + keyword + "</span>");       
        $("#KeyWordslb span").each(function () { keywords+=','+$(this).text()});
        $("#KeyWords").val(keywords);
        keyNo++;
        $("#txKeyWord").val("");
    });
    $("#KeyBack span").click(function () {
        var keyword = $(this).text();
        $("#KeyWordslb").append("<span id='key" + keyNo + "' onclick='add(" + keyNo + ")'>" + keyword + "</span>")
        keyNo++;
        var keywords = "";
        $("#KeyWordslb span").each(function () { keywords += ','+$(this).text()});
        $("#KeyWords").val(keywords);
    });
    //function addb(keybNo) {
    //    var keyword = $("#keyb"+keybNo).val();
    //    $("#KeyWordslb").append("<span id='key" + keyNo + "' onclick='add(" + keyNo + ")'>" + keyword + "</span>")
    //    keyNo++;
    //    var keywords = "";
    //    $("#KeyWordslb span").each(function () { keywords += ','+$(this).text()});
    //    $("#KeyWords").val(keywords);
    //};
    function add(keyNo) {
        $("#key" + keyNo).remove();
        var keywords = "";
        $("#KeyWordslb span").each(function () { keywords += ',' + $(this).text() });
        $("#KeyWords").val(keywords);
    };
    $("#IssueDate").datepicker({
        numberOfMonths: 1,
        changeYear: false,
        "yearRange": '2000:2020',
        showMonthAfterYear: true,
        dateFormat: 'yy-mm-dd',
        maxDate:'+0d'
    });
</script>