@{
    ViewBag.Title = "WarsNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/webJs.js")"></script>
}
<style>
</style>

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
             <hgroup class="title">
                <h1>魔兽争霸最新更新<span class="float-right">@Html.ActionLink("添加记录", "AddRecords", new { catelog = "Wars" }, new { target = "_blank" })</span></h1>                    
            </hgroup>  
               
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
       @Html.Partial("NavPartial")
        @Html.Hidden("KeyWord")
    </section>
</div>
<script type="text/javascript">
    var acturl = '@Url.Content("~/api/getWarsNews")';
    var keyurl = '@Url.Content("~/api/getKeyWords?from=魔兽争霸")';
    var newfromkeyurl = '@Url.Content("~/api/getNewsFromKey")';
    $(document).ready(function () {
        getKeyWords(keyurl);
        refresh(acturl);
    });
    function keywords(key) {
        refreshFromKey(newfromkeyurl, "魔兽争霸", key);
        var html = "<a href='#'onclick=\"keywords('" + key + "')\">" + key + "</a>";
        $('#pageNav').html('@Html.ActionLink("首页","BlzBlue")→@Html.ActionLink("魔兽争霸","WarsBlue")→' + html);
        $("#KeyWord").val(key);
    };
    $('#navPre').click(function () {
        var keyword = $("#KeyWord").val();
        if (keyword == "") {
            refreshPre(acturl);
        }
        else {
            refreshFromKeyPre(newfromkeyurl, "魔兽争霸", keyword);
        }
    });
    $('#navNex').click(function () {
        var keyword = $("#KeyWord").val();
        if (keyword == "") {
            refreshNext(acturl);
        }
        else {
            refreshFromKeyNext(newfromkeyurl, "魔兽争霸", keyword);
        }
    });
    $('#pageNav').html('@Html.ActionLink("首页","BlzBlue")→@Html.ActionLink("魔兽争霸","WarsBlue")');
    </script>